body{
    background-image: url(Pictures/Background.png);
    background-color: #cccccc;

}

ul {
    list-style-type: none;
    margin: 0;

    padding: 0;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);
   
    
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  #logo{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 10vw;  }


    #serchbar{
        position: relative;
        left: 50vw;
    }

    #serchBtn{
     border: none;
     color: rgb(255, 255, 255);
     background-color: rgb(165, 59, 59);
     padding: 10px;
     border-radius:10px
    }

    #inputbox{
        background-color: rgb(165, 59, 59,0.5);
        position: absolute;
        left: 30vw;
        text-align: center;
        width: 30vw;
        height: 50vh;
        align-content: center;
        
        }

    #lableTitle{
       color: rgb(255, 255, 255);
       margin-top: 30px;
       
    }

    #placeOrderBtn{
     border: none;
     color: rgb(255, 255, 255);
     background-color: rgb(165, 59, 59);
     padding: 10px;
     border-radius:10px
    }

    input{
        margin: 5px;
    }

    #inputBorder{
        border: 5px;
        border-width: 5px;
        
    }

    